/* Write your CSS code here */

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 7px;
}

.item-image {
  height: 100px;
  width: 50%;
}
.item-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-info {
  height: 50%;
  display: flex;
  flex-direction: row;

}
.item-topic {
  color: #d3d3d3;
  font-size: 15px;
  font-family: 'Roboto';
}
.avatar {
  height: 30px;
  width: 30px;
}
.author-name {
  color: #8e8e8e;
  font-size: 15px;
  font-family: 'Roboto';
}
